name: Smoke test

on:
  push:
    branches:
      - develop
      - main
      - master
  pull_request:

jobs:
  smoke_test_benchmark:
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Setting up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Setting up Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements_ci.txt
          python -m pip install -r requirements_frameworks.txt

      - name: Run smoke tests for inference benchmark
        run: cd tests/smoke_test/benchmark_smoke && python -m pytest test_benchmark_smoke.py -m="not caffe"

      - name: Run smoke tests for accuracy checker
        run: cd tests/smoke_test/ac_smoke && python -m pytest test_ac_smoke.py

  smoke_test_benchmark_caffe:
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Setting up miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          auto-update-conda: true
          activate-environment: caffe_env_3.7
          python-version: 3.7

      - name: Setting up Python dependencies and Caffe
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements_ci.txt
          python -m pip install openvino-dev
          python -m pip install apache-tvm
          conda install -y caffe

      - name: Run smoke test for inference benchmark
        shell: bash -el {0}
        run: |
          cd tests/smoke_test/benchmark_smoke && python -m pytest test_benchmark_smoke.py -m="caffe"

  smoke_test_quantization:
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Setting up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Setting up Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements_ci.txt
          python -m pip install -r requirements_frameworks.txt

      - name: Run smoke tests for quantization
        run: cd tests/smoke_test/quantization_smoke && python -m pytest test_quantization_smoke.py
